// --------------------
//    端末幅の設定
// --------------------

$widthPC: 960px; //PC
$widthTab: 600px; //タブレット
$widthSp: 320px; //スマートフォン

@mixin tab {
  @media (min-width: $widthTab) and (max-width: $widthPC) {
    @content;
  }
}

@mixin sp {
  @media (min-width: $widthSp) and (max-width: $widthTab) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $widthPC) {
    @content;
  }
}

.news-wrapper {
  padding: 0.2em 0.5em;
  margin: 50px auto;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  width: 90%;

  h2 {
    text-align: center;
  }

  #lightgallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;

    a {
      margin: 0 auto;
      .supplier-img {
        width: 300px;
        height: 300px;
      }
    }
  }
}

// ------------------------
//     フッターのスタイル
// ------------------------

footer {
  height: 200px;
  background-color: rgb(236, 81, 34);

  .footer-color {
    height: 190px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .footer-left {
      ul {
        li {
          list-style: none;
          color: rgba(255, 255, 255, 0.8);
          font-size: 17px;
          @include tab {
            font-size: 15px;
          }
          @include sp {
            font-size: 10px;
          }
        }
      }
    }

    .footer-right {
      ul {
        display: flex;

        li {
          list-style: none;
          color: rgba(255, 255, 255, 0.8);
          margin-right: 20px;

          span {
            font-size: 20px;

            a {
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
}
