// --------------------
//    端末幅の設定
// --------------------

$widthPC: 960px; //PC
$widthTab: 600px; //タブレット
$widthSp: 320px; //スマートフォン

@mixin tab {
  @media (min-width: $widthTab) and (max-width: $widthPC) {
    @content;
  }
}

@mixin sp {
  @media (min-width: $widthSp) and (max-width: $widthTab) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $widthPC) {
    @content;
  }
}

// --------------------
//    全体のスタイル
// --------------------

body {
  padding-top: 50px;
}

.box {
  margin: 2em 2em 2em 4em;
  @include sp {
    margin: 0.5em 0.5em 0.5em 1em;
  }
  position: relative;
  padding: 0.5em 5em;
  border-top: solid 2px rgb(255, 164, 89);
  border-bottom: solid 2px rgb(255, 164, 89);

  h2 {
    text-align: center;
    font-size: 40px;
    @include sp {
      font-size: 20px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .orange {
      width: 50%;
      @include tab {
        width: 100%;
      }
      @include sp {
        width: 100%;
      }
      @include tab {
        height: 300px;
      }
      @include sp {
        height: 200px;
      }
      margin: 0 auto;
    }
  }

  p {
    font-size: 20px;
    @include sp {
      font-size: 10px;
    }
    margin: 30px 0;
  }
}
.box:before,
.box:after {
  content: "";
  position: absolute;
  top: -40px;
  width: 2px;
  height: -webkit-calc(100% + 80px);
  height: calc(100% + 80px);
  background-color: rgb(255, 164, 89);
}
.box:before {
  left: 40px;
}
.box:after {
  right: 40px;
}

.lightgallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  a {
    .supplier-img {
      width: 200px;
      height: 200px;
      margin-right: 20px;
    }
  }
}

.purchase {
  display: block;
  padding: 1.5em 6em;
  @include sp {
    padding: 1.5em 3em;
  }
  text-decoration: none;
  background: rgb(255, 95, 89);
  color: white;
  font-size: 20px;
  @include tab {
    font-size: 15px;
  }
  @include sp {
    font-size: 10px;
  }
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  border-radius: 50px;
  width: 12%;
  @include tab {
    width: 18%;
  }
  @include sp {
    width: 24%;
  }
  margin: 50px auto;
  text-align: center;
}

// ------------------------
//     フッターのスタイル
// ------------------------

footer {
  height: 200px;
  background-color: rgb(236, 81, 34);
  margin-top: 70px;

  .footer-color {
    height: 190px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .footer-left {
      ul {
        li {
          list-style: none;
          color: rgba(255, 255, 255, 0.8);
          font-size: 17px;
          @include tab {
            font-size: 15px;
          }
          @include sp {
            font-size: 10px;
          }
        }
      }
    }

    .footer-right {
      ul {
        display: flex;

        li {
          list-style: none;
          color: rgba(255, 255, 255, 0.8);
          margin-right: 20px;

          span {
            font-size: 20px;

            a {
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
}
